<!DOCTYPE html>
<style>
html, body{
}
  .container {
    border: 8px solid #ECF0F1;
    background-color: #BCC6CC;
    border-radius: 25px;
    min-height: 700px;
    padding-top: 20px;
  }

  .footer {
    height: 50px;
    background-color: #2C3E50;
    margin: 15px 0px 0px 0px;
    border: 2px solid #2C3E50;
  }

  .container{
    margin: 70px 0px 0px 0px;

  }
</style>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/scripts/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
  <div class="header">
    <title>{{title}}</title>
    <div class="navbar navbar-default navbar-fixed-top" style="margin-bottom:2px;">
      <div class="navbar-header">
        <a href="/api" class="navbar-brand">Туристичні місця та маршрути RESTful API</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    {{{body}}}
  </div>

    <p align="center">&copy; 2016 Yevhenii Maliavka - tourist </p>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</body>

</html>
