<title>
  RESTful API
</title>

<table class="table table-hover table-bordered">
  <tbody>
  <tr class="info">
      <td>
        URI
      </td>
      <td>
        HTTP Method
      </td>
      <td>
        POST body
      </td>
      <td>
        Result
      </td>
  </tr>
    <tr>
      <td>
        /place
      </td>
      <td>
        GET
      </td>
      <td>
        Empty
      </td>
      <td>
        Shows list of all places
      </td>
    </tr>
    <tr>
        <td>
          /place
        </td>
        <td>
          POST
        </td>
        <td>
          JSON String
        </td>
        <td>
          Adds detail of new place
        </td>
    </tr>
      <tr>
        <td>
          /place/{id}
        </td>
        <td>
          DELETE
        </td>
        <td>
          Empty
        </td>
        <td>
          Deletes existing place
        </td>
      </tr>
      <tr>
          <td>
            /place/{id}
          </td>
          <td>
            GET
          </td>
          <td>
            Empty
          </td>
          <td>
            Returns place on id
          </td>
      </tr>
      <tr>
          <td>
            /place/{id}
          </td>
          <td>
            PUT
          </td>
          <td>
            JSON String
          </td>
          <td>
            Updates place on id
          </td>
      </tr>
    </tbody>
</table>
